<h1 class = "border-bottom"><%= @restaurant.name %></h1>
<div class="container text-center text-muted border-bottom mb-3">
  <p><em>Category:</em> <%= @restaurant.category %></p>
  <p><em>Address:</em> <%= @restaurant.address %></p>
  <% if !@restaurant.phone_number.empty? %>
    <p><em>Phone:</em> <%= @restaurant.phone_number %></p>
  <% end %>
</div>
<% @restaurant.reviews.each do |review| %>
<div class="card mb-3 shadow <%= review.rating > 2 ? 'border-success' : 'border-danger' %>">
  <div class="card-body">
    <p><%= 'â­'*review.rating %><%= review.content %></p>
  </div>
</div>
<% end %>
